h1, h2, h3, p {
    color: #0A3A3F;
    font-family: 'Laila', sans-serif;
}

body, nav {
    background-color: #F6F9F9;
}

/* Nav bar */
.navigation a {
    color:#0D484E;
}

.navigation a:hover {
    background-color: #FFE7E7;
}

/* Header */

.header-container {
    background: linear-gradient(103.05deg, rgba(255, 231, 231, 0.74) 40.8%, rgba(57, 171, 183, 0.79) 110.4%);
    border-radius: 1em;
    border: none;
}

/* Skills */

.skills-list li {
    border: 1px solid #0D484E;
    border-radius: 1em;
    /* background-color: #FFE7E7; */
}

/* Projects */

#projects {
    background: #FFE7E7;
}

.card img {
    border-radius: 1em;
}

.card .card-text {
    border-radius: 1em;
    background-color: #F6F9F9;
}

#projects h3 {
    color: #FFB1A5;
}

p .text-light {
    font-weight: 300;
    font-size: 14px;
}

/* Footer */
footer a {
    color: #0A3A3F;
}

footer h3 {
    color: #FFB1A5;
}

/* Buttons styling */
.btn-primary {
    background-color: #0A3A3F;
    color: #fff;
    border-radius: 0.8em;
}

.btn-primary:hover {
    background-color: #FFB1A5;
}

.btn-secondary {
    color: #0A3A3F;
    border-radius: 0.8em;
    border: 1px solid #0A3A3F;
}

.btn-secondary:hover {
    color: #FFB1A5;
    border: 1px solid #FFB1A5;
}

/* Tags styling */
.tag {
    border: 2px solid #FFB1A5;
    border-radius: 1.5em;
    padding: 0.3em 0.5em;
    color: #FFB1A5;
}