/* Root fixes */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* scale all images, and media to accomodate responsive layout. */
    img, video, audio, iframe, table, form { 
    width:100%; /* IE */
    max-width: 100%; /* FF, Safari, Chrome */
  }

  /* Wrapper class */
  .wrapper {
    width: 90vw;
    margin: 0 auto;
  }

  /* Icons */
  i {
    padding-right: 0.5em;
  }

/* MOBILE FIRST */

/* nav bar */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
    padding-top: 1em;
  }
  
  .logo {
    width: 64px;
    height: 64px;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    list-style: none;
    margin: 0;
  }

  .navigation a {
    text-decoration: none;
    font-size: 1em;
    display: block;
    padding: 0.5em 0.8em;
    border-radius: 0.5em;
  }

  nav > a {
    display: none;
  }

  
  /* Header */
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;

    margin: 1.5em auto;
    height: 100%;
    padding: 6em 4em;
  }

  /* Header text */
  .header-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
  }

  .header-text h3 span {
    font-style: italic;
  }

  h3 h1 {
    word-wrap: break-word;
    text-justify: auto;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
  }

  .btn-container a {
    text-decoration: none;
    display: block;
    padding: 0.8em 1em;
  }

  .header-container img {
    width: 160px;
    height: 160px;
    order: -1;
  }

  /* Skills */
  #skills {
    padding-top: 0.5em;
    padding-bottom: 4em;
  }

  #subheading {
    margin-bottom: 2em;
  }

  .skills-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;

    list-style: none;
  }

  .skills-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 1em;
  }

  .skills-list li img {
    width: 40px;
    height: 40px;
  }

  /* Projects section */
  #projects {
    /* padding: 1em auto 2em auto; */
    padding-top: 1em;
    padding-bottom: 2em;
  }

  .cards-list {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(1fr, 8);
    grid-template-rows: 1fr auto auto 1fr;
  }

  .card img {
    display: none;
    grid-column: 1/3;
    grid-row: 1/5;
    height: 240px;
  }

  .card .card-text {
    grid-column: 1/8;
    grid-row: 2/4;
    padding: 1em;
  }

  .skills-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
  }

  .text-light {
    font-weight: 300;
  }

  /* Footer */
  footer {
    padding-bottom: 3em;
  }

  footer h2 {
    margin: 1em auto 2em auto;
  }

  footer h3 {
    margin-bottom: 0.5em;
  }

  .work, .contact {
    list-style: none;
    margin: 0;
  }

  footer a {
    text-decoration: none;
    display: block;
    padding: 0.5em;
  }
  
  #footer-links {
    display: grid;
    grid-template-columns: 1fr;
  }

  #work, #contact {
    grid-column: 1fr;
  }

/* MEDIA QUERY - MIN 768px WIDTH */
@media all and (min-width: 768px){
    /* nav bar */
    .navigation a {
        text-decoration: none;
        font-size: 1.2em;
        display: block;
        padding: 0.8em 1em;
        border-radius: 0.5em;
      }

    /* header */
    .header-container img {
        width: 240px;
        height: 240px;
      }

      .btn-container {
        flex-direction: row;
      }

    /* footer */
    #footer-links {
        grid-template-columns: 1fr 1fr;
      }

}

/* MEDIA QUERY - MIN 1024px WIDTH */
@media all and (min-width: 1024px){
    /* nav bar */
    nav > a {
        display: block;
      }

      nav {
        justify-content: space-between;
      }
    
      /* header */
      .header-container {
        flex-direction: row;
      }

      .btn-container {
        justify-content: flex-start;
      }

      .header-container img {
        order: 0;
      }

      /* skills */
      .skills-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    
        list-style: none;
      }

      /* projects */
      .card img {
        display: block;
        grid-column: 1/3;
        grid-row: 1/5;
        height: 240px;
      }

      .card .card-text {
        grid-column: 2/8;
        grid-row: 2/4;
        padding: 1em;
      }

      /* footer */
      #footer-links {
        grid-template-columns: 1fr 1fr;
      }
}